# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/
env/
.venv/
Scripts
Lib
pyvenv.cfg
.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code settings
.idea/
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# dotenv environment variable files
*.env
*.env.*

# Mypy / Pyright / Pyre type checker files
.mypy_cache/
.pyre/
.pytype/

# Pylint / Bandit / Ruff logs
.pylint.d/
.bandit/
.ruff_cache/
